.lidarContainer {
  max-width: 600px; /* Define the maximum width for the LiDAR container */
  max-height: 600px; /* Adjust the height automatically based on the content */
  margin: 0px ; /* Center the container horizontally */
}
