<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tracker_master_bot">

  <!-- Include the parameter file -->
  <xacro:include filename="$(find track_master)/urdf/robot_parameters.xacro" />

  <!-- Include the chassis -->
  <xacro:include filename="$(find track_master)/urdf/chassis.xacro" />

  <!-- Include the GNSS sensor -->
  <xacro:include filename="$(find track_master)/urdf/gnss_sensor.xacro" /> 

  <!-- Include the IMU sensor -->
  <xacro:include filename="$(find track_master)/urdf/imu_sensor.xacro" />
  
 <!-- <xacro:include filename="$(find track_master)/urdf/lidar.xacro" /> -->

   <xacro:include filename="$(find track_master)/urdf/point_cloud_lidar.xacro" />

  <xacro:include filename="$(find track_master)/urdf/camera.xacro" />

  <xacro:include filename="$(find track_master)/urdf/ros2_control.xacro" />

</robot>
